/* :root {
  --titleFont: "Russo One", sans-serif;
  --bodyFont: "Roboto Mono", monospace;

  --primaryColor: #15202b;
  --secondaryColor: #192734;
  --tertiaryColor: rgb(226, 226, 226);
  --primaryText: rgb(226, 226, 226);
  --borderColor: #164d56;
  --anchorColor: #4299e1;
  --mac-dot-red: #fc6058;
  --mac-dot-yellow: #fec02f;
  --mac-dot-green: #2aca3e;
  --shadowColor: #111921;
  --frontColor: rgba(25, 39, 52, 0.75);
  --frontLineColor: #17a2b8;
  --cardHeader: #111921;
} */

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondaryColor);
  color: var(--primaryText);
  font-family: var(--bodyFont);
}

a {
  text-decoration: none;
  color: var(--anchorColor);
}

a:hover {
  color: gray;
}

p {
  overflow-wrap: break-word;
}

.theme-icon {
  color: var(--primaryText) !important;
  margin: 0;
  padding: 0 !important;
}

.main-body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4.2rem;
}

.border-bottom {
  border-bottom: 1px solid var(--borderColor);
}

.title-sm {
  font-family: var(--titleFont);
  font-size: 1.25rem;
}

.title-md {
  font-family: var(--titleFont);
  font-size: 1.8rem;
}

.title-lg {
  font-family: var(--titleFont);
  font-size: 2.5rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  width: 95%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #fc6058;
}
.text-primary {
  color: var(--primaryText);
}

.text-secondary {
  color: gray;
}

/* Material-UI */
.MuiButton-label{
  color: white !important;
}
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #3f51b5 !important;
}

.MuiSwitch-track {
  background-color: white !important;
}

.section-primary {
  background-color: var(--primaryColor);
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.section-secondary {
  background-color: var(--secondaryColor);
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 2rem;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.bg-primary {
  background: var(--primaryColor);
}

.bg-secondary {
  background: var(--secondaryColor);
}
.divider {
  background: gray !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.grid-center {
  justify-content: center;
  align-items: center;
}

.pill {
  background: var(--frontLineColor);
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 9999px;
}

.c-card {
  overflow: hidden;
  border: 1px solid #164d56;
}

.c-card-header{
  font-family: "Russo One", sans-serif;
  width: 100%;
  background: var(--cardHeader);
  padding: 0.75rem;
  border-bottom: 1px solid #164d56;
}

.c-card-body {
  padding: 1rem 0.5rem;
}

.c-breadcrumbs {
  background: var(--cardHeader);
  border: 1px solid var(--borderColor);
  margin-bottom: 1rem;
  padding: .45rem 1rem;
  border-radius: 5px;
  display: flex;
}

.MuiBreadcrumbs-separator{
  color: white;
}

.c-tab-wrapper {
  margin: 1rem 0;
  display: grid;
  grid-template-rows: auto;
}

@media (min-width: 768px) {
  .c-tab-wrapper {
    margin: 1rem 2rem;
  }
}

.c-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Russo One", sans-serif;
  width: 100%;
  background: var(--cardHeader);
}

.c-tab .active {
  color: var(--primaryText);
  border-top: 1px solid var(--frontLineColor);
  border-left: 1px solid var(--frontLineColor);
  border-right: 1px solid var(--frontLineColor);
}

.c-tab-item {
  background: none;
  border: none;
  outline: none;
  font-family: "Russo One", sans-serif;
  color: var(--secondaryText);
  padding: 0.5rem 1rem;
  margin: 0 0.75rem;
  font-size: 1rem;
}

.c-tab-item:hover {
  color: var(--tabHoverColor);
  cursor: pointer;
}
.c-primary-btn {
  background: var(--submitBtnColor) !important;
  margin-top: 0.35rem !important;
}

.c-primary-btn:hover {
  opacity: .7 !important;
}

.c-w-50 {
  width: 50% !important;
}

.hidden {
  display: none;
}

/* Forms */
.c-form {
  border: 1px solid var(--borderColor);
  padding: 1rem;
  background: var(--primaryColor);
}

.c-form-img {
  width: 16rem;
}

.c-form-img:hover {
  opacity: 0.5;
}

.c-form-img-modal {
  opacity: 1 !important;
}

.c-form-row-2,
.c-form-row-1-2,
.c-form-row-2-1,
.c-form-row-3 {
  display: grid;
  grid-template-columns: 1fr;
}

.c-form-btn {
  background: #17a2b8;
  color: white;
  padding: 0.5rem 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.25rem;
}

.c-form-btn:hover {
  cursor: pointer;
  background: darkcyan;
}

.c-input {
  box-sizing: border-box;
  background: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  color: var(--primaryText);
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
.c-input:hover {
  border: 1px solid var(--frontLineColor) !important;
}
.c-label {
  color: var(--primaryText);
}

.c-table-input {
  box-sizing: border-box;
  background: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  color: var(--primaryText);
  min-width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

textarea.c-input {
  resize: vertical;
}

input[type="file"].c-input {
  padding: 0.58rem;
}

input[type="file"].c-input::file-selector-button {
  border: 0;
  border-radius: 4px;
  padding: 0.25rem;
}

@media (min-width: 768px) {
  .c-form-row-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  .c-form-row-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .c-form-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .c-form-row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/* Table */
.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
}

.table thead {
  background: var(--cardHeader);
  padding: 0.75rem;
  text-align: left;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
}

.table thead th {
  padding: 0.5rem;
}

.table tbody {
  text-align: left;
}

.table-hover tbody tr:hover,
.table-hover tbody tr:nth-child(even):hover{
  background: #181818;
  color: white;
}
 
.table tbody tr:nth-child(even) {
  background-color: var(--cardHeader);
}

.table tbody td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--borderColor);
}

.table-search-box {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.table-search-box input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: whitesmoke;
  color: black;
  border: 1px solid var(--borderColor);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.table-search-box input:focus {
  outline: none;
  border: 2px solid var(--frontLineColor);
}

.responsive {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .table-responsive-md {
    overflow-x: auto;
  }
}

/* Buttons */
.btn-link {
  background: none;
  border: none;
  color: #4299e1;
  padding-top: 0;
}

.btn-link:hover {
  color: gray;
  cursor: pointer;
}

/*Tags*/
.btn-chip {
  margin-top: 1.3rem !important;
}
.tags-array {
  width: 100%;
  margin-top: 1.3rem !important;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .tags-array  {
    margin-bottom: 0rem;
  }
}
.MuiChip-deleteIcon{
  color: black !important;
}
.MuiChip-deleteIcon:hover{
  color: black !important;
  opacity: .7 !important;
}
.tags {
  background: var(--secondaryColor) !important;
  color: var(--primaryText) !important;
  border: 2px solid var(--borderColor) !important;
  margin-left: 0.5rem !important;
}

.tags:hover {
  border: 2px solid var(--frontLineColor) !important;
}

/*Colored Toast*/
.colored-toast.swal2-icon-success {
  background-color: #4caf50 !important;
  color: white;
  font-weight: 500;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-content {
  color: white;
}

/* React-Elastic-Carousel */
.rec-arrow {
  color: white !important;
}

.rec-arrow[disabled] {
  color: #4a5568 !important;
}

.rec-pagination .cJeRRR {
  background-color: #b1afaf;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #17a2b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Media Querries */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .main-body {
    padding-bottom: 3rem;
  }
  .main-wrapper {
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
